html body{
	font-family: "Lucida Grande",STHeitiSC-Light,"PingHei","Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;

}

/* 头部标题栏 */

.menu-top-bar{
	position: absolute;
	top: 0px;
	left: 0px;
	margin:0;
	width: 100%;
	height: 46px;
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0px 2px 3 px rgba(0,0,0,0.8);
}


/*   logo */
@media (max-width:800px){
	#zhihu-logo{
		position: relative;
		left: 32px;
		display: inline-block;
		height: inherit;
		font-size: 130%;
		width: 61px;
		color: #fff;
		text-align: center;
		line-height:240%;
		text-decoration: none;
	}
}
@media (min-width: 801px){
	#zhihu-logo{
		position: relative;
		left: 200px;
		display: inline-block;
		height: inherit;
		font-size: 150%;
		background-image: url(img/new_logo@2x.png);
		background-size:61px 30px;
		background-repeat: no-repeat;
		background-origin: border-box;
		background-position: 0px 8px;
		width: 61px;
		color: #fff;
		text-indent: -9999px;
		text-decoration: none;
	}
	
}
.logo{
	width: 100px;
	height: inherit;
}
/* 搜索框 */
@media (min-width: 801px){
	.search-question{
		left:300px;
		width:320px;
	}
	.top-search{
		background-color: #fff;
		margin-top:6px;
		height: 26px;
		border-radius: 4px;
		width:240px;
		padding: 4px 10px;
}
	.search-input-text{
		font-size: 0.8em;
		border:0px;
		width: 200px;
		height:26px;
		line-height: 26px;
		outline: none;
}
	.search-button{
		background-color: #fff;
		background-image: url(img/search.svg);
		background-size: 18px 25px;
	}

}



@media (max-width: 800px){
	.search-question{
		left:98px;
		width:100px;
	}
	.top-search{
		width:50px;
	}
	.search-input-text{
		visibility: hidden;
		z-index: 1;
		width: 0px;
		height: 35px;
		outline: none;
		margin-top: 7px;
		padding-left: 0px;
		border-radius: 4px;
		border:0px;
		background-color:#fff;
		font-size: 0.8em;
		color:#080808;
  		-webkit-transition: width 0.5s 0s, visibility 0s 0.5s,padding-left 0s 0.5s;
  		-moz-transition: width 0.5s 0s, visibility 0s 0.5s,padding-left 0s 0.5s;
  		transition: width 0.5s 0s, visibility 0s 0.5s,padding-left 0s 0.5s;
	}
	.search-button{
		position: absolute;
		top:10px;
		left:8px;
		background-image: url(img/search01.svg);
		background-size: 15px 28px;
		background-color:rgba(0,0,0,0);
	}
	.search-button:hover{
		background-image: url(img/search.svg);
	}
	.button-replace{
		background-image: url(img/search.svg);
	}
	.dropdown-active{
		visibility: visible;
		width: 300px;
		padding-left: 26px;
  		-webkit-transition: width 0.5s 0s, visibility 0s 0s,padding-left 0.5s 0s;
  		-moz-transition: width 0.5s 0s, visibility 0s 0s,padding-left 0.5s 0s;
  		transition: width 0.5s 0s, visibility 0s 0s,padding-left 0.5s 0s;
}
	
}


.search-question{
	position: absolute;
	top:0px;
	height: inherit;
}


.search-button{
	float:left;
	border:0px;
	outline: none;
	cursor:pointer;
	background-repeat: no-repeat;
	width: 30px;
	height: 27px;
}



/* 提问 */
@media (min-width: 801px){
	.question{
		width: 53px;
		height: 32px;
		top:8px;
	}
}
@media (max-width: 800px){
	.question{
		width: 45px;
		height: 24px;
		top:14px;
		transform:translateX(0);
		-ms-transform:translateX(0); /* Internet Explorer */
		-moz-transform:translateX(0); /* Firefox */
		-webkit-transform:translateX(0); /* Safari 和 Chrome */
		-webkit-transition:-webkit-transform 1s 0s;
		-moz-transition:-moz-transform 1s 0s;
		transition:transform 1s 0s;
	}
	.questionMove{
		transform:translateX(260px);
		-ms-transform:translateX(260px); /* Internet Explorer */
		-moz-transform:translateX(260px); /* Firefox */
		-webkit-transform:translateX(260px); /* Safari 和 Chrome */
		-webkit-transition:-webkit-transform 0.5s 0s;
		-moz-transition:-moz-transform 0.5s 0s;
		transition:transform 0.5s 0s;
	}

}
.question{
	position: absolute;
	cursor: pointer;
	right:0px;
	outline: none;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,.12);
	border:1px solid #0276AA;
	border-radius: 4px;
	color:#fff;
	background-color: #03A9F4;
	box-shadow: 0 1px 2px rgba(0,0,0,.5),inset 0 1px 2px rgba(255,255,255,.5);
}
/* 列表部分  */
@media (max-width: 800px){
	.top-nav{
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 200px;
		width:300px;
		height: inherit;
		border-radius: 2px;
		-webkit-transition:display 1s 0s;
		-moz-transition:display 1s 0s;
		transition:display 1s 0s;
	}

	.hidden-nav{
		display: none;
		-webkit-transition:display 1s 0s;
		-moz-transition:display 1s 0s;
		transition:display 1s 0s;
	}

}
@media (min-width: 801px){
	.top-nav{
		display: inline-block;
		position: absolute;
		left: 700px;
		top: 0px;
		width: 300px;
		height: inherit;
	}
}
.top-nav-ul{
	list-style: none;
}	
.tab{
	position: relative;
	float:left;
	padding-left: 28px;
}
.tab a{
	white-space: nowrap;
	text-decoration: none;
	color:#fff;
}





